meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title= data.title
link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
each css in connectionFiles.css     
    link(rel="stylesheet", href=css)    