<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/head.pug
    body
    
    section(class="admin"  id="menu-toggle")
        block menu

        block header

        block content

    include ../includes/footer.pug
    