@font-face {
    font-family: 'DosisRegular';
    src: url('/font/Dosis-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('/font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('/font/Montserrat-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/font/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratThin';
    src: url('/font/Montserrat-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Playfair_DisplayRegular';
    src: url('/font/PlayfairDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair_Italic';
    src: url('/font/PlayfairDisplay-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}


