extends ../layouts/admin.pug
include ../mixin/post.pug

block menu
    include ../includes/menuAdmin.pug
        
block header
    include ../includes/headerAdmin.pug

block content  
    include ../includes/contentAdmin.pug


