extends ../layouts/basik.pug
include ../mixin/post.pug

block header 
    include ../includes/header.pug

block main
    section(class="main")
        for post in data.post
            +post( post.hash, post.photo, post.title, post.description, post.dateCreate, post.login, post.name, "user" )