extends ../layouts/basik.pug

block header 
    include ../includes/header.pug

block main
    section(class="main")
        div(class="wrapper")
            a(class="item" href="/post")
                img(src="/img/1.jpg", alt="")
                div(class="content")
                    h2(class="title") High up in the Mountains of Norway
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/2.jpg", alt="")
                div(class="content")
                    h2(class="title") Largest Animal Cloning Factory Can Save Species
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/3.jpg", alt="")
                div(class="content")
                    h2(class="title") Travel Europe by Motorbike This Spring
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/4.jpg", alt="")
                div(class="content")
                    h2(class="title") Your Rocky Mountain Vacation
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/5.jpg", alt="")
                div(class="content")
                    h2(class="title") These 12 Photographers Have Seen Real Beauty	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/6.jpg", alt="")
                div(class="content")
                    h2(class="title") Cruising Trips Have Made Significant Safety Advances	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/7.jpg", alt="")
                div(class="content")
                    h2(class="title") Spending an Interesting Weekend Outside	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/8.jpg", alt="")
                div(class="content")
                    h2(class="title") Mesmerizing Photo Stories of the Month	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/9.jpg", alt="")
                div(class="content")
                    h2(class="title") Best Photographers Working with Wildlife	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/10.jpg", alt="")
                div(class="content")
                    h2(class="title") Choose Your Own Adventure	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/11.jpg", alt="")
                div(class="content")
                    h2(class="title") A Short Film About Nature	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/12.jpg", alt="")
                div(class="content")
                    h2(class="title") Destinations for Adrenaline Junkies	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/13.jpg", alt="")
                div(class="content")
                    h2(class="title") Travel Rules to Guide You Through Adventure
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/14.jpg", alt="")
                div(class="content")
                    h2(class="title") Plan the Perfect Weekend for You and Your Friends	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
            a(class="item")
                img(src="/img/15.jpg", alt="")
                div(class="content")
                    h2(class="title") Swimming in Cold Water Improves Circulation	
                    p(class="description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, urna at eleifend cursus, nibh libero ullamcorper sapien, in dignissim erat e
                    span(class="date") Mar 27, 2020 Island
                div(class="followPost")
                    span Discover
