extends ../layouts/basik.pug

block header
    include ../includes/header.pug

block main
    section(class="post")
        div(class="container") 
            div(class="content")
                img(class="main-img" src="/img/5.jpg", alt="")
                span(class="date") MAR 27, 2020 ISLAND
                h1(class="title-post") High up in the Mountains of Norway
                div(class="text")
                    | Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Excepteur sint occaecat cupidatat non proident. Quisque id enim malesuada metus porta sollicitudin id eget orci. 
                    | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                div(class="quotes")
                    | North Atlantic island sit dolor inspiration for life is a pseudo Latin text used in web design, typography.
                div(class="text")
                    | Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Excepteur sint occaecat cupidatat non proident. Quisque id enim malesuada metus porta sollicitudin id eget orci. 
                    | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Excepteur sint occaecat cupidatat non proident. Quisque id enim malesuada metus porta sollicitudin id eget orci. 
                    | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Excepteur sint occaecat cupidatat non proident. Quisque id enim malesuada metus porta sollicitudin id eget orci. 
                    | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Excepteur sint occaecat cupidatat non proident. Quisque id enim malesuada metus porta sollicitudin id eget orci. 
                    | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                hr(class="hr")
                div(class="author")
                    h3 Author 
                    div(class="content")
                        img(src="/img/1.jpg", alt="")
                        h5 John
                            span Mar 27, 2020
                hr(class="hr")
            div(class="write-comments")
                div(class="form-group")
                    input(type="text", name="" placeholder="Name")
                div(class="form-group")
                    textarea(placeholder="Text")
                div(class="form-group")
                    button Post comment
            div(class="comments")
                h4(class="count-comments") 2 Comments
                div(class="item")
                    img(src="/img/1.jpg", alt="")
                    div(class="content-comment")
                        h5 Joly 
                            span(class="date") Mar 27, 2020
                        p 
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            | Quasi natus, molestias et exercitationem reiciendis facere beatae.
                            | Reprehenderit tempora exercitationem architecto nihil dicta harum.
                            | Nam nostrum amet accusantium minus. Esse, quidem.
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            | Quasi natus, molestias et exercitationem reiciendis facere beatae.
                            | Reprehenderit tempora exercitationem architecto nihil dicta harum.
                            | Nam nostrum amet accusantium minus. Esse, quidem.
                div(class="item")
                    img(src="/img/1.jpg", alt="")
                    div(class="content-comment")
                        h5 Joly 
                            span(class="date") Mar 27, 2020
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi natus